{
    "secret": "{{AUTH_SERVER.SECRET}}",
    "port": {{AUTH_SERVER.PORT}},
    "environment": "production",
    "logLevel": "info",
    "defaultUsername": "{{AUTH_SERVER.DEFAULT_USER}}",
    "defaultPassword": "{{AUTH_SERVER.DEFAULT_PASS}}"
}
